<head>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<h1>Form to Update a <%= pokemon.name %>
</h1>

<form action="/pokemon/<%= index %>?_method=PUT" method="post">
  <input type="text" name="name" placeholder="enter name here" value="<%= pokemon.name %>">
  <input type="text" name="type" placeholder="enter type/s here" value="<%= pokemon.type %>">
  <input type="submit" value="Update Pokémon">
</form>